{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="gallery-page">

            <a href="image/gallery1.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery1.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery1.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 1">
                </picture>
            </a>

            <a href="image/gallery2.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery2.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery2.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 2">
                </picture>
            </a>

            <a href="image/gallery3.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery3.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery3.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 3">
                </picture>
            </a>

            <a href="image/gallery4.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery4.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery4.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 4">
                </picture>
            </a>

            <a href="image/gallery5.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery5.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery5.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 5">
                </picture>
            </a>

            <a href="image/gallery6.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery6.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery6.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 6">
                </picture>
            </a>

            <a href="image/gallery7.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery7.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery7.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 7">
                </picture>
            </a>

            <a href="image/gallery8.jpg">
                <picture>
                    <source media="(min-width: 500px)" srcset="image/gallery8.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery8.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 8">
                </picture>
            </a>

            <a href="image/gallery9.jpg">
                <picture>
                <source media="(min-width: 500px)" srcset="image/gallery9.jpg?width=250&height=200&crop-to-fit&q=50">
                    <img src="image/gallery9.jpg?width=400&height=400&crop-to-fit&q=80" alt="Gallery 9">
                </picture>
            </a>

            <iframe width="100%" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=rCpNIvExiVLdukho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
