{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="technology-page">
            <div class="technology-box list">
                <ul>
                    <li><a href="css" class="link">CSS</a></li>
                    <li><a href="git" class="link">GIT</a></li>
                    <li><a href="html" class="link">HTML</a></li>
                    <li><a href="javascript" class="link">JAVASCRIPT</a></li>
                    <li><a href="php" class="link">PHP</a></li>
                    <li><a href="python" class="link">PYTHON</a></li>
                    <li><a href="sqlite" class="link">SQLITE</a></li>
                </ul>
            </div>
            <div class="technology-box content">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>